/*



#7f5c79;  средне лиловый
#36182f   темно лиловый
#b19bab   светло лиловый


*/


html,
body {
    height: 100%;
}
body {
    background-color: #7f5c78;
}

h2,h3,h3,h4,h5,h6{
    font-weight: 300;
    letter-spacing: .02em;
}
h2{
    font-size: 3.5rem;
}
h3{
    font-size: 3rem;
}
p {
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 300;
    letter-spacing: .5px;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f6eaf3;
    padding-top: 20px;
}

.no-gutters,
.container-fluid.no-gutters{
    padding-right: 0;
    padding-left: 0;
}
.container-fluid,
.container-fluid.no-gutters{
    overflow-x: hidden;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    color: #ffffff;
    min-height: 95px;
    transition: background .3s ease, min-height .4s ease;
}

.brightBody .navbar-inverse .navbar-brand{
    color: #7f5c78;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
    /*font-family: Montserrat,sans-serif;*/
    font-size: 2.8rem;
    font-weight: 400;
}
.navbar-fixed-top {
    position: absolute;
}
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-toggle .icon-bar,
.navbar-toggle .icon-bar{
    width: 22px;
    transition: width .4s;
}
.navbar-toggle:hover .icon-bar,
.navbar-toggle:focus .icon-bar{
    width: 30px;
    transition: width .4s;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
}

.brightBody .navbar-inverse .navbar-nav > .active > a,
.brightBody .navbar-inverse .navbar-nav > .active > a:hover,
.brightBody .navbar-inverse .navbar-nav > .active > a:focus {
    color: #7f5c78;
    border-bottom: 1px solid #7f5c78;
}
.brightBody .navbar-inverse .navbar-nav > li > a {
    color: #7f5c78;
    font-weight: 400;
}
.navbar-inverse .navbar-nav > li > a {
    font-family: Montserrat,sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    color: #FFFFFF;
    padding: 15px 0 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-inverse .navbar-nav > li > a .fillFromKey{
    fill:rgba(255,255,255,.5);
}
.brightBody .navbar-inverse .navbar-nav > li > a .fillFromKey{
    fill: #7f5c78;
}

.navbar-inverse .container-fluid{
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
}


.home_top .leadBox{
    margin-top: 250px;
}
.home_top .leadBox h2{
    color: #ffffff;
    font-size: 4em;
    font-weight: 400;
}
.home_top .leadBox h2 .highlight{
    display: inline-block;
    font-weight: 600;
    line-height: 1.0;
    margin-top: .5em;
    color: #ffffff;
    font-style: italic;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 0;
    /*color: #7f5c79;*/
    /*color: #36182f;*/
}
.underTop{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 3em;
}
.underTop h2{
    font-size: 4em;
    font-weight: 400;
    margin-bottom: .5em;
}
.underTop p{
    font-size: 1.5em;
    font-weight: 300;
}

.as-back_img_bordered_fw{
    padding: 7em 5em;
    font-size: 2em;
    border: 4rem solid #36182f;
}
.as-back_img_bordered_fw h2{
    line-height: 1.3;
}
@media only screen and (max-width : 767px) {
    .as-back_img_bordered_fw{
        padding: 2em;
        border: 2rem solid #36182f;
    }
    .as-back_img_bordered_fw h2{
        font-size: 3rem;
    }
}
.bright{
    background-color: #f6eaf3;
    color: #7f5d79;
}
.bright h1,
.bright h2,
.bright h3,
.bright h4,
.bright h5,
.bright h6,
.bright p {
    color: #7f5d79;
}
.dark_grey{
    background-color: #7f5c78;
    color: #ffffff;
}
.dark_grey h1,
.dark_grey h2,
.dark_grey h3,
.dark_grey h4,
.dark_grey h5,
.dark_grey h6,
.dark_grey p {
    color: #ffffff;
}

.grey{
    background-color: #b19bab;
    color: #ffffff;
}
.grey h1,
.grey h2,
.grey h3,
.grey h4,
.grey h5,
.grey h6,
.grey p {
    color: #ffffff;
}
.grey.big_border{
    border: 4rem solid #b19bab;
}
@media only screen and (max-width : 767px) {
    .grey.big_border{
        border: 2rem solid #b19bab;
    }
}
.as-col_image__col_text_fw .col-sm-6.textCol {
    padding-left: 50px;
}
.as-col_image__col_text_fw.grey h2,
.as-col_text__col_image_fw.dark_grey  h2 {
    font-size: 3.2rem;
    padding: .2em;
    background-color: #36182f;
    font-style: italic;
    line-height: 1.4;
}
@media only screen and (max-width : 767px) {
    .as-col_image__col_text_fw .col-sm-6.textCol {
        padding-left: 10px;
    }
}
.as-col_image__col_text_fw p{
    font-size: 2.2rem;
    line-height: 1.25;
    margin-top: 2rem;
}

.as-col_text__col_image_fw .col-sm-6.textCol {
    padding-right: 50px;
}
@media only screen and (max-width : 767px) {
    .as-col_text__col_image_fw .col-sm-6.textCol {
        padding-right: 10px;
    }
}
.as-col_text__col_image_fw p {
    font-size: 1.3em;
    line-height: 1.25;
    margin-top: 2rem;
}


.btn-primary{
    background-color: #7f5c79;
    padding: 1.5rem 2rem;
    display: inline-block;
    font-family: Montserrat,sans-serif;
    font-size: 1.5rem;
    letter-spacing: .05em;
    transition: background-color .4s;
    margin-top: 2rem;
    border: none;
}
.btn-primary:hover{
    /*background-color: #926F8C;*/
    background-color: #613E5B;
    text-decoration: none;
    transition: background-color .4s;
}

.homeBrightH2 h2{
    font-size: 1.9em;
    font-weight: 400;
    letter-spacing: .01em;
}
.mb100{
    margin-bottom: 100px;
}
.pb100{
    padding-bottom: 100px;
}
.big_border {
    border: 4rem solid transparent;
}
.as-left_image__floating_right_text_fw {
    padding-bottom: 4rem;
}
.as-left_image__floating_right_text_fw .imageCol{
    position: relative;
    right: -4rem;
}
.as-left_image__floating_right_text_fw .textCol{
    position: relative;
    left: -4rem;
    background-color: #fff;
    margin-top: 2em;
    padding: 6rem!important;
    color: #000;
}
@media only screen and (max-width : 767px) {
    .as-left_image__floating_right_text_fw .textCol{
        left: 0;
        padding: 2rem!important;
    }
}
.as-left_image__floating_right_text_fw.bright .textCol h2{
    color: #000;
    font-weight: 500;
    text-align: center;
    padding-bottom: 1rem;
}
.as-left_image__floating_right_text_fw.bright .textCol p{
    color: #000;
    font-size: 1.2em;
}

.footerVKsvg{
    position: relative;

}

.footerVKsvg .fillFromKey{
    /*fill: rgba(0,0,0,.7);*/
    fill: #7f5c78;

}
.footerPtLogo svg{
    width: 25px;
    height: 25px;
    margin-left: .8rem;
    /*display: block;*/
}
.footerPtLogo .fillFromKey{
    fill: #b19bab;
}
.disclaimerLink{
    color: #b19bab;
    margin-bottom: .5em;
    display: inline-block;
    font-size: .8em;
}
.disclaimerLink:hover{
    text-decoration: none;
}
.blackTextSection p{
    font-size: 1.6rem;
    color: #000000;
}
.whiteTextSection p{
    color: #ffffff;
}
.regularTextSize p{
    font-size: 1.6rem;
}
.blackTextSection.bright h2{
    font-size: 4.5rem;
    font-weight: 400;
    margin-bottom: 1.7em;
}

.servicesPage h1{
    margin-top: 4em;
    color: #ffffff;
    font-size: 4rem;
}
body.brightBody{
    background-color: #b19bab;
}
.brightBody h1{
    color: #7f5c78;
}

.servicesPage .servicesSection h4{
    color: #7f5c78;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 1.0em;
}
.servicesPage .servicesSection p{
    color: #ffffff;
}
.servicesPage .serviceItem {
     padding-bottom: 100px;
}
.servicesPage .serviceItem .comment {
    color: #7f5c78;
    font-weight: 400;
    font-size: 1.2em;
}
.whiteH1 h1{
    color: #ffffff !important;
}
.whiteH2 h2{
    color: #ffffff !important;
}
.whiteH3 h3{
    color: #ffffff !important;
}
.whiteP p{
    color: #ffffff !important;
}
.whiteText{
    color: #ffffff;
}
.contactPage .textCol{
    padding-right: 20px !important;
}
.contactPage .btn-primary{
    background-color: #613E5B;
    border-radius: 0;
}
.contactPage .btn-primary:hover{
    background-color: #36182f;
}
.secondColPadding{
    padding-left: .4rem !important;
}
@media only screen and (max-width : 767px) {
    .secondColPadding{
        padding-left: 0 !important;
    }
}
.pt130{
    padding-top: 130px;
}
.contactPage h1{
    font-size: 5rem;
    font-weight: 400;
}
@media only screen and (max-width : 767px) {
    .contactPage h1{
        font-size: 3rem;
    }
}
.contactPage h3{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: .4em;
}
.contactPage .form-control {
    border-radius: 0;
    height: 40px;
}
.contactPage .styleSelect .form-control {
    /*margin-top: 20px;*/
}
.contactPage .styleSelect  {
    overflow-x: hidden;
}

.styleSelect select{
    width: 110%;
}
.styleSelect .form-group::after {
    content: " \25BE";
    color: rgba(0,0,0,.4);
    font-size: 18px;
    position: absolute;
    top: 29px;
    right: 6px;
    z-index: 2;
    pointer-events: none;
}
.styleSelect .form-group:before{
    content: "";
    position: absolute;
    top: 25px;
    right: 0;
    width: 25px;
    height: 38px;
    background-color: white;
    border-left: 1px solid rgba(0,0,0,.2);
    z-index: 1;
    pointer-events: none;
}
.contactPage .control-label{
    font-weight: 300;
}

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label {
    color: #FFFFFF;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #36182f;
}
.has-error .form-control {
    border-color: #36182f;
    /*box-shadow: inset 0 1px 1px #36182f;*/
    box-shadow: 2px 2px 2px #36182f;
}
.has-error .form-control:focus {
    border-color: #ffffff;
    box-shadow: none;
}
.has-success .form-control:focus {
    border-color: #ffffff;
    box-shadow: none;
}
.order-form_with_labels_fw .row{
    margin-bottom: 20px;
}
.h1_faq{
    position: absolute;
    width: 100%;
    left: 0;
    top: 3.5em;
    text-align: center;
    color: white;
    font-size: 5rem;
}
@media only screen and (max-width : 767px) {
    .h1_faq{
        font-size: 4rem;
    }
}
.faq .textSection {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 1em;
    padding-right: 1em;
}
@media only screen and (min-width : 768px) {
    .faq .textSection {
        padding-left: 10em;
        padding-right: 10em;
    }
}
.faq .textSection h4{
    font-size: 2.5rem;
    font-weight: 500;
}
.faq .textSection p{
    font-size: 1.5rem;
    margin-bottom: 3em;
}