/*

main blue   #2376A5
gray back  #E9EBED
    color: #91bbd2;


*/

@font-face {
    font-family: "TimesNewRoman";
    src: url("fonts/TimesNewRoman/TimesNewRoman.eot");
    src: url("fonts/TimesNewRoman/TimesNewRoman.eot?#iefix") format("embedded-opentype"),
    url("fonts/TimesNewRoman/TimesNewRoman.woff") format("woff"),
    url("fonts/TimesNewRoman/TimesNewRoman.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "MyriadProRegular";
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
    url("fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaRegular";
    src: url("fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"),
    url("fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaThin";
    src: url("fonts/HelveticaThin/HelveticaThin.eot");
    src: url("fonts/HelveticaThin/HelveticaThin.eot?#iefix") format("embedded-opentype"),
    url("fonts/HelveticaThin/HelveticaThin.woff") format("woff"),
    url("fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "CalligraphiaOne";
    src: url("fonts/CalligraphiaOne/CalligraphiaOne.eot");
    src: url("fonts/CalligraphiaOne/CalligraphiaOne.eot?#iefix") format("embedded-opentype"),
    url("fonts/CalligraphiaOne/CalligraphiaOne.woff") format("woff"),
    url("fonts/CalligraphiaOne/CalligraphiaOne.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


html,
body {
    height: 100%;
    background-color: #E9EBED;
    overflow-x: hidden;
    /*min-height: 100%;*/

}
.wrap {
    position: relative;
}
*:focus {
    outline: none;
}
.master_body {
    background-color: #30353b;
    /*background-color: #DDB09E;*/
    background-size: cover;
    background-position: center top;
    min-height:100%;
    background-attachment: fixed;
}
.noPadding{
    padding: 0 !important;
}
.noPB {
    padding-bottom: 0 !important;
}
.fl {
    float: left;
}
/* позиционирование*/
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}
.mt50{
    margin-top: 50px;
}
.mt100{
    margin-top: 100px;
}
.mb10{
    margin-bottom: 10px;
}
.mb20{
    margin-bottom: 20px;
}
.mb30{
    margin-bottom: 30px;
}
.mb50{
    margin-bottom: 50px;
}
.mb100{
    margin-bottom: 100px;
}
.pt10{
    padding-top: 10px;
}
.pt20{
    padding-top: 20px;
}
.pt30{
    padding-top: 30px;
}
a{
    color: #2376A5;
}
a:hover{
    text-decoration: none;
    color: inherit;
}

.backgroundImage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}
.wrap, .articleWrap {
     min-height: 100%;
     height: 100%;
     margin: 0 auto 0;
     padding: 0 0 0;
}

.wrap > .container {
    padding: 20px 15px 20px;
}
.articleWrap > .container {
    padding: 0px 15px 20px;
}
.articleWrap .navbar-top {
    margin-bottom: 0px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}


.not-set {
    color: #c55;
    font-style: italic;
}


.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-default .navbar-brand {
    color: #777;
    width: 320px;
}
.brandLogo{
    height: 70px;
    float: left;
    position: relative;
    top:-10px;
}
.brandName {
    display: block;
    text-transform: uppercase;
    font-family: 'TimesNewRoman', serif;
    font-size: 36px;
    /*color: #2376A5;*/
    color: #91bbd2;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    margin-top: 6px;
}
.brandMotto {
    display: block;
    /*color: #2376A5;*/
    color: #91bbd2;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    margin-left: 80px;
    position: relative;
    margin-top: 2px;
    /*font-family: "HelveticaRegular", sans-serif;*/
    /*font-family: "MyriadProRegular", sans-serif;*/
    font-family: "HelveticaThin", sans-serif;
    font-size: 20px;
    font-weight:lighter;
}
.navbar-nav {
    /*background-color: #E9EBED;*/
    background-color: #2376A5;
    /*background-color: rgba(255,255,255,0.9);*/
}
.navbar-default {
    /*background-color: #E9EBED;*/
    background-color: #2376A5;
    /*border-color: #e7e7e7;*/
    border-color: #2376A5;
    border-radius: 0;
    height: 80px;
    /*position: relative;*/
}
.navbar-default .navbar-toggle {
    margin-top: 20px;
    border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #2376A5;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

/* main menu  */
.navbar-default .navbar-nav > li > a {
    /*color: #2376A5;*/
    color: #91bbd2;
    display: inline-block;
    padding: 5px 0px 4px ;
    margin: 24px 5px 10px;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 18px;
}
/* main menu active */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    /*color: #2376A5;*/
    color: #91bbd2;
    background-color: transparent;
    /*border:1px  #E9EBED solid;*/
    /*border-bottom: 1px  #2376A5 solid;*/
    border-bottom: 1px  #91bbd2 solid;
    display: inline-block;

}
.masterListItem {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
}
.masterListItem.regular {
    /*height: 100px;*/
    height: auto;
}
.masterListItem .masterName {
    font-family: "MyriadProRegular", sans-serif;
    font-size: 16px;
    color: black;
    margin-bottom: 0;
}
.masterListItem .imageBox{
    padding: 3px;
    border: 1px #D1D3D4 solid ;
    border-radius: 3px;
    width: 128px;
}
.masterListItem .masterProfession{
    color: #808285;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 12px;
    margin-bottom: 0;
}
.capital{
    display: inline-block;
}

.capital:first-letter{
    text-transform:capitalize;
}

.lowercase{
    text-transform: lowercase;
}
.masterListItem .masterPsychotherapy{
    color: #808285;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 12px;
    margin-bottom: 0;
    text-align: right;
}
.masterListItem .masterPsychotherapy .circle{
    display: inline-block;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: #808285;
    margin: 0 5px 2px;
}
.masterListItem .masterBtn{
    margin-left: 0;
    padding-left: 0;
}
.masterListItem .disease .masterMText.capital {
    display: inline-block;
    /*margin: auto 0;*/
    /*padding: 0 0;*/
    width: auto;
    padding-right: 0;
    margin-right: 0;
    /*-moz-margin-start: 0;*/
    /*-webkit-padding-start: -5px;*/
    /*-moz-padding-start: -5px;*/
    /*padding-block-end: 5px;*/

}
.masterListItem .disease .masterMText{
    display: inline;

    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    line-height: 1.5;
}
.masterListAvatar {
    width: 120px;
}
.masterListItem .masterAddress{
    color: #808285;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 12px;
    margin-bottom: 0;
    text-align: left;
    position: relative;
    display: table-cell;
    vertical-align: bottom;

}
.masterListItem .city{
    color: #808285;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 12px;
    margin-bottom: 0px;
}
.masterListItem.premium .masterAddress {
    /*height: 67px;*/
    margin-bottom: 0;
}
.masterListItem .masterAddress .masterPhone{
    display: block;
}
.masterListItem .masterAddress .phone_icon{
    font-size: 10px;
}
.masterListItem .masterAddress .site_icon{
    font-size: 10px;
}

.masterListItem .masterPhone{
    /*word-wrap: normal;*/
}
.masterListItem.premium .listDataBox{
    min-height: 130px;
}

.masterListItem .disease{
    padding: 5px;
    min-height: 35px;
    /*background-color: #eee;*/
    background-color: rgba(233,235,237,0.5);
    font-size: 12px;
    border: 1px #e9ebed solid;

}
.masterListItem .sessionsInfo{
    margin-top: 5px;
    font-size: 12px;
    text-align: right;
    font-family: "MyriadProRegular", sans-serif;

}
.masterListItem .masterAddress .phone_icon,
.masterListItem .masterAddressIcon{
    margin-right: 5px;
}


.master_body .dark {
    color: #fff;
}
.master_body .bright {
    color: black;
}

.master_body .navbar-brand{
    position: relative;
    z-index:1000;
    height: 80px;
}
.masterPtLogo {
    height: 70px;
}

.master_body  .wrap > .container {
    padding: 10px 15px 20px;
}
.masterPageAvatar{
    width: 167px;
}
.masterImageBox {
    margin-top: 20px;
    /*margin-bottom: 50px;*/
    margin-left: 120px;
    background-color: #fff;
    padding: 5px;
    width: 177px;
}
.masterPageUsername {
    text-align: left;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 38px;
    font-weight:normal;
    margin-top: 70px;
    margin-bottom: 0;
}
.master_body .masterProfession {
    text-align: left;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 18px;
    margin-bottom: 0;

}
.master_body .divider {
    width: 50%;
    height: 1px;
    position: relative;
    /*margin-left:50%;*/
}
.master_body  .dark .divider {
    /*background-color: #fff;*/
    background-color: rgba(255,255,255,0.5);
}
.master_body  .masterPsychotherapy {
    text-align: left;
    /*float: right;*/
}
.master_body  .contentBox {
    background-color: rgba(0,0,0,0.5);
    padding: 50px;
    /*margin-top: 50px;*/
}

.master_body .articleName {
    text-align: center;
}
.master_body .links  {
    margin-top: 50px;

}
.master_body .links li  {
    list-style-type:none;
    font-size: 18px;
    font-family: "MyriadProRegular", sans-serif;
    display: block;
    margin-top: 10px;

}
.master_body .links li a {
    color:white;
    line-height: 1.0;
    display: inline-block;
}
.master_body .dark .btn-default {
    background-color: transparent;
    border: 1px solid white;
    color:white;
    padding: 5px 7px;
    margin-top: 20px;
    display: inline-block;
}
.master_body .dark .btn-default:hover,
.master_body .dark .btn-link:hover {
    text-decoration: none;
}

.master_body .dark .btn-link {
    background-color: transparent;
    color:white;
    padding: 3px 7px;
    border-bottom: 1px solid white;
    margin: 5px 0 10px;
    display: inline-block;

}

.master_body .form-group input {
    width: 100%;
}
.master_body .form-group  {
    width: 100%;
    color: grey;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: #fff;
    /*text-shadow: 0px 1px 1px rgba(255,255,255,0.7), 0px -1px 1px rgba(255,255,255,0.7);*/
    text-shadow: 0 1px 2px #a94442, 0 -1px 2px #a94442;
}

.master_body .alert{
    margin-top: 100px;
}

.master_body  .btn-default:focus,
.master_body .btn-default.focus,
.master_body  .btn-default:active,
.master_body .btn-default.active{
    border-color: #D3C9C6;
    color: #D3C9C6;
    text-decoration: none;
}

.master_body  .btn-link:focus,
.master_body .btn-link.focus,
.master_body  .btn-link:active,
.master_body .btn-link.active{
    border-color: #D3C9C6;
    color: #D3C9C6;
    text-decoration: none;
}
.master_body .address{
    margin-bottom: 0;
}
/* Articles */

.articleListItem {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
}
.articleListItem.regular {
    height: 100px;
}
.articleListItem .masterName {
    font-family: "MyriadProRegular", sans-serif;
    font-size: 16px;
    color: black;
    margin-bottom: 0;
}
.articleListItem .imageBox{
    padding: 0;
    border: none ;
    width: 100%;
}
.articleListItem .articlePsychotherapy,
.articleListItem .articlePsychotherapy a{
    text-transform: uppercase;
    color: #f15c32;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: right;
}
.articleListItem .articleName{
    font-family: "MyriadProRegular", sans-serif;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: grey;
}

.articleListItem .excerptBig{
    font-family: "MyriadProRegular", sans-serif;
    font-size: 14px;
    /*margin-top: 5px;*/
    margin-bottom: 5px;
    line-height: 1.2;
}
.articleListItem .articleAuthor{
    font-family: "MyriadProRegular", sans-serif;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.articleListItem .articleSite{
    font-family: "MyriadProRegular", sans-serif;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.articleListItem .articleSite a:hover{
    text-decoration: none;
}
.articleListItem .articleTag{
    font-family: "MyriadProRegular", sans-serif;
    font-size: 14px;
    color: #2376A5;
    margin: 0;
    text-transform: lowercase;
}
.articleListItem .articleName,
.articleListItem .articleSite a,
.articleListItem .articleAuthor,
.popArtItem .articleName,
.popArtItem .articleSite a,
.popArtItem .articleAuthor{
    color: grey;
}
.link2article{
    color: inherit;
}
.articleListItem .link2article:hover{
    text-decoration: none;
}
.articleBox {
    background-color: #fff;
    padding: 10px 100px 50px 100px;
}
.articleBox .articlePsychotherapy,
.articleBox .articlePsychotherapy a{
    text-transform: uppercase;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 16px;
}
.articleBox .text{
    font-family: "MyriadProRegular", sans-serif;
    font-size: 16px;
}
.articleBox .articleTag{
    font-family: "MyriadProRegular", sans-serif;
    font-size: 16px;
    color: #4f84a1;
    text-transform: lowercase;
}

.popArtItem .articlePsychotherapy,
.popArtItem .articlePsychotherapy a{
    text-transform: uppercase;
    color: #f15c32;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.popArtItem .articleName {
    font-family: "MyriadProRegular", sans-serif;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: grey;
    line-height: 1;
}
.popArtItem .excerpt {
    font-family: "MyriadProRegular", sans-serif;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.2;
}

/* carousel */
.carouselControl {
    position: absolute;
    cursor: pointer;
    display: block;

}
.popArt .carouselControl {
    top:264px;
    margin-top: -30px;

}
.carouselControl svg{
    width: 40px;
    height: 40px;
}
.popArtPrev{
    left:-40px;
}
.popArtNext{
    right:-40px;
}
.popMasPrev{
    left:50%;
    margin-left: -20px;
    top:0;
}
.popMasNext{
    left: 50%;
    margin-left: -20px;
    bottom:0;
}
.popVertWrap{
    padding-top: 40px;
    padding-bottom: 50px;
}
.popArtPrev,
.popArtNext,
.popMasPrev,
.popMasNext{
    stroke:#30353b;
}
.popArtPrev:hover,
.popArtNext:hover,
.popMasPrev:hover,
.popMasNext:hover{
    stroke:#838e9a;
}

.popArtItem{
    background-color: #fff;
    position: relative;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
}
.popularArticles{
    width: 960px;
    height: 400px;
    position: relative;
    left: 50%;
    margin-left: -480px;
    /*background-color: #5e5e5e;*/
}

.popularArticles .slick-slide{
    height: 366px;
}
.popArtItem .articleAuthor {
    font-family: "MyriadProRegular", sans-serif;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: grey;
}
.popArtItem .articleTag {
    font-family: "MyriadProRegular", sans-serif;
    font-size: 14px;
    color: #2376A5;
    text-transform: lowercase;
}
.popArtItem .articleSite {
    font-family: "MyriadProRegular", sans-serif;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: grey;
}
.indexHead {
    color: #58595b;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}
.topItem {
    background-color: #fff;
    position: relative;
    /*top:200px;*/
    width: 100%;
    min-height: 400px;
    margin-left: 0px;
}
.articleIndex .navbar-top {
    margin-bottom: 0;
}
.topItem .imageBox {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 400px;
}
.topItem .articlePsychotherapy,
.topItem .articlePsychotherapy a{
    text-transform: uppercase;
    color: #58595b;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 16px;
}
.topItem .articleName {
    margin-top: 100px;
}

.topItem .excerpt {
    margin-top: 50px;
}
.topItem .articleAuthor,
.topItem .articleSite a{
    color: #58595b;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 16px;
}
.topItem .articleTag {
    font-family: "MyriadProRegular", sans-serif;
    font-size: 16px;
    color: #2376A5;
    text-transform: lowercase;
}

.home .topText{
    color: #58595b;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 16px;
    text-align: left;
    margin-bottom: 50px;
}
.home .topText .signature{
    display: block;
    text-align: right;
    color: #58595b;
    font-family: "MyriadProRegular", sans-serif;
    font-size: 16px;
}
.home .quoteBox{
    background-color: #fff;
    padding: 40px;
    border-radius: 3px;
}
.home .quoteBox .quoteText{
    font-family: "CalligraphiaOne", sans-serif;
    font-size: 38px;
    line-height:1.2;
    text-align: left;
    margin-top: 50px;
}
.home .quoteBox .author{
    font-family: "MyriadProRegular", sans-serif;
    font-size: 16px;
    text-align: right;
}
.link2master {
    position: relative;
    z-index: 10;
}
.popularMasters .masterListItem{
    margin-top: 10px;
    margin-bottom: 10px;
}
.topFilter{
    /*background-color: #fff;*/
    background-color: transparent;
    width: 100%;
    padding: 10px;
    margin-left: 0px;
}
.noPaddingTopObjectBody .navbar {
    margin-bottom: 0;
}

#filterForm .form-group{
    margin-bottom: 0;
}
#filterForm .help-block{
    margin: 0;
}
#filterForm .submit-btn{
    color: #2376A5;
}
#filterForm .btn-default{
    background-color: transparent;
    /*background-color: #2376A5;*/
    border-color: #2376A5;
    /*border-color: #4F84A1;*/
    /*border-color: #7BC8F0;*/
    border:none;
    border-radius: 0;
    /*color: #2376A5;*/

}
#filterForm .filterSelect{
    background-color: transparent;
    border-color: #2376A5;
    border:none;
    border-radius: 0;
    /*color: #808285;*/
    /*color: #adadad;*/
    color: #999;
    /*width: 150px;*/
    padding: 5px 0 5px ;
}


#filterForm .bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -2px;
    vertical-align: middle;
}
#filterForm .btn-default:focus {
    color: #333;
    /*color: red;*/
    background-color: transparent;
    border-color: #adadad;
}
#filterForm .has-success .btn-default,
#filterForm .has-success .btn-default:focus {
    outline:none !important;
}


#filterForm .bootstrap-select > .dropdown-toggle.btn-default.bs-placeholder,
#filterForm .bootstrap-select > .dropdown-toggle.btn-default.bs-placeholder:hover {
    color: #999;
    border:none;
}

/* selected dropdown */
#filterForm .bootstrap-select > .dropdown-toggle.btn-default,
#filterForm .bootstrap-select > .dropdown-toggle.btn-default:hover,
#filterForm .bootstrap-select > .dropdown-toggle.btn-default:active,
#filterForm .bootstrap-select > .dropdown-toggle.btn-default:focus {
    color: #2376A5;
    border-bottom: 1px #2376A5 solid;
    padding-right: 0;
}

/* hoovered submit */
#filterForm .btn-default:hover {
    color: red;
    background-color: transparent;
    border-color: #adadad;
}

/* hovered filter item */
#filterForm .bootstrap-select > .dropdown-toggle.btn-default.bs-placeholder:hover {
    color: #2376A5;
    border: none;
}

#filterForm .btn-default:focus,
#filterForm .btn-default:active,
#filterForm .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: transparent;
    border-color: #adadad;
    box-shadow: none;
}

.bootstrap-select > .dropdown-toggle {
    width: 150px;
}

.searchForm {
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left:-150px;
    margin-top: 22px;
}

#searchFormNarrow{
    position: absolute;
    width: 200px;
    left: 66%;
    margin-left:-100px;
    margin-top: 2px;
    /*height: 30px;*/
    z-index:10;
}

.search-input {
    position: relative;
    display: inline;
    width: 100%;
    background-color: transparent;
    /*border: 1px solid  #2376A5;*/
    border: 1px solid  #91bbd2;
    text-align: left;

    -moz-user-select: text;
    -webkit-user-select: text;

}
/*.search-input:focus,*/
/*.search-input:active,*/
/*.search-input:hover,*/
/*.search-input:focus input,*/
/*.search-input input,*/
/*.searchForm input:focus,*/
/*.searchForm .has-success:valid,*/
/*.search-input input:active,*/
/*.search-input input:hover {*/
    /*box-shadow: none !important;*/
/*}*/
.search-input:valid,
.search-input:valid:hover,
.search-input:valid:focus {
    background-color: white;
    box-shadow: none;
}
.search-input:invalid,
.search-input:invalid:hover {
    box-shadow: none;
}

.search-input:hover {
    background-color: transparent;
    /*border: 1px solid  #2376A5;*/
    border: 1px solid  #91bbd2;

}

.search-input:active:hover,
.search-input:focus {
    background-color: white;
    border: 1px solid  #2376A5;
    box-shadow: none;

}
.search-submit,
.search-submit:active:hover,
.search-submit:focus{
    position: absolute;
    display: inline;
    top: 0px;
    right: 0px;
    border: none;
    /*color: #2376A5;*/
    color: #91bbd2;
    background-color: transparent;
    box-shadow: none;

}

.search-submit:hover{
    background-color: transparent;
}

.footer {
    height: auto;
    background-color: transparent;
    border-top: none;
    padding-top: 20px;
    font-size:10px;
    color: #58595b;
}
.taglabel {
    font-family: "MyriadProRegular", sans-serif;
    font-size: 12px;
    position: relative;
    top:0;
    /*color: #808285;*/
    color: #adadad;
    font-weight: normal;
    margin: 0 auto;
}







/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .articleBox {
        background-color: #fff;
        padding: 10px 45px 50px 45px;
    }
    .articleListItem .listDataBox{
        padding-left: 45px;
    }
    .masterImageBox {
        margin-left: 90px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
    .searchForm {
        width: 160px;
        margin-left:-80px;
        margin-top: 22px;
    }
    .bootstrap-select > .dropdown-toggle {
        width: 120px;
    }
    .popularArticles {
        width: 640px;
        margin-left: -320px;
    }
    .popArtPrev {
        left: 0;
    }
    .popArtNext {
        right: 0;
    }
    .articleBox .imageBox img {
        width: 630px;
        height: 438px;
    }
    .articleListItem .listDataBox{
        padding-left: 25px;
    }
    .masterImageBox {
        margin-left: 40px;
    }
    .masterListAvatar {
        width: 90px;
    }
    .masterListItem .imageBox {
        width: 98px;
    }
    .masterListItem .imageBox img{
        width: 90px;
        height: 90px;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .more768 {
        display: none;
    }
    .less768 {
        display: block;
    }

    .bootstrap-select > .dropdown-toggle {
        width: 150px;
        margin-bottom: 10px;
        left: 50%;
        margin-left: -75px !important;
    }
    .popularArticles {
        width: 320px;
        margin-left: -160px;
    }
    .popArtPrev {
        left: 95px;
    }
    .popArtNext {
        right: 95px;
    }
    .master_body .links,
    .navbar-brand {
        padding-left: 0;
    }
    .master_body .links{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .masterListItem .masterPsychotherapy{
        text-align: left;
    }
    .masterListItem .masterProfession{
        color: #000;
    }


    .masterListItem.premium .masterAddress{
        height:auto;
        /*margin-top: 10px;*/
    }
    .masterListItem.regular {
        height: auto;
    }
    .masterListItem .imageBox img {
        width: 120px;
        height: 120px;
    }
    .masterListItem .imageBox {
        width: 128px;
    }
    .articleListItem .imageBox{
        text-align: center;
        margin-bottom: 10px;
    }
    .articleListItem .imageBox img{
        border-radius: 20px;
    }
    .articleListItem .listDataBox{
        padding-left: 15px;
    }
    .articleListItem .articleName{
        text-align: center;
    }
    .articleListItem .articlePsychotherapy a{
        text-align: right;
    }
    .navbar-collapse .navbar-nav {
        /*background-color: #E9EBED;*/
        /*background-color: rgba(255,255,255,0.96);*/
        background-color: rgba(233,235,237,0.96);
        position: relative;
        z-index: 100;
    }
    .masterPageAvatar{
        width: 111px;
    }
    .masterImageBox img{
        width: 111px;
        height: 120px;
    }
    .masterImageBox {
        margin-left: 0px;
        padding: 3px;
        /*width: 117px;*/
        width: 117px;
    }
    .masterPageUsername {
        margin-top: 30px;
    }

}
@media only screen and (max-width : 650px) {
    .masterImageBox {
        /*margin-left: 40px;*/
        padding: 3px;
        width: 117px;
        /*width: 173px;*/
    }
    .masterImageBox img{
        width: 111px;
        height: 120px;
    }
    .popArtPrev {
        left: 20px;
    }
    .popArtNext {
        right: 20px;
    }
}
@media only screen and (max-width : 550px) {
    #searchFormNarrow{
        width: 200px;
        left: 50%;
        margin-left:-100px;
    }
    .brandName{
        display: none;
    }
    .brandMotto{
        display: none;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {
    .noPaddingLess480 {
        padding:0;
    }
    .more480 {
        display: none;
    }
    .less480 {
        display: block;
    }
    .topItem .articleName {
        margin-top: 50px;
    }
    .topItem .excerpt {
        margin-top: 30px;
    }
    .popArtPrev {
        left: 0px;
    }
    .popArtNext {
        right: 0px;
    }
    .navbar-default .navbar-brand {
        width: 235px;
    }
    .brandName {
        font-size: 24px;
        margin-top: 11px;
    }
    .brandMotto {
        margin-left: 72px;
        font-size: 12px;
    }
    .masterPageAvatar{
        width: 84px;
    }
    .masterImageBox {
        margin-left: 0px;
        padding: 2px;
        /*width: 92px;*/
        width: 171px;
    }
    .masterImageBox img {
        width: 167px;
        height: 180px;
    }
    .master_body .masterPageUsername {
        margin-top: 10px;
    }
    .master_body .contentBox {
        padding: 20px;
    }
    .master_body .links {
        margin-top: 10px;
        padding-left: 0;
    }
    .navbar-brand {
        padding-left: 0;
    }
    .masterPageUsername {
        margin-top: 110px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .more480 {
        display: block;
    }
    .less480 {
        display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .more768 {
        display: block;
    }
    .less768 {
        display: none;
    }
    .masterListItem.premium .listDataBox,
    .masterListItem.regular .listDataBox{
        padding-left: 60px;
    }
    #searchFormNarrow{
        display: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .masterListItem.premium .listDataBox,
    .masterListItem.regular .listDataBox{
        padding-left: 75px;
    }
    .popArtPrev {
        left: -26px;
    }
    .popArtNext {
        right: -26px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .masterListItem.premium .listDataBox,
    .masterListItem.regular .listDataBox{
        padding-left: 60px;
    }
    .popArtPrev {
        left: 40px;
    }
    .popArtNext {
        right: 40px;
    }
}









/*.st0 {*/
    /*fill:#58595B;*/
/*}*/
/*.st0:hover {*/
    /*fill:red;*/
/*}*/