@font-face {
    font-family: "MontserratRegular";
    src: url("fonts/Montserrat/Montserrat-Regular.eot");
    src: url("fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
        /*url("fonts/MontserratRegular/MontserratRegular.woff") format("woff"),*/
    url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html,
body {
    height: 100%;
}
.mt100{
     margin-top: 100px;
}
.mt50{
    margin-top: 50px;
}
.mt30{
    margin-top: 30px;
}
.mt25{
    margin-top: 25px;
}
.mt20{
    margin-top: 20px;
}
.bt{
    border-top: 1px lightgray solid;
}
.pt100{
    padding-top: 100px;
}
.pt50{
    padding-top: 50px;
}
.pt30{
    padding-top: 30px;
}
.pt20{
    padding-top: 20px;
}
.rot90{
    transform: rotate(90deg);
}
.rot270{
    transform: rotate(270deg);
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.adminTableImg {
    height: 70px;
}
.imagefiles-view img {
    max-width: 100%;
}
.adminArticleImg{
    height: 200px;
}
.rRound {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.lRound,
.lRound select,
.input-group .lRound .form-control{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.navbar-inverse {
    background-color: #2376A5;
    /*background-color: #4c5053;*/
    /*border-color: #080808;*/
    border-bottom:1px solid #2376A5;
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand,
.nav > li > form > button.logout{
    /*color: lightgrey;*/
    color: #91bbd2;
    font-family: 'MontserratRegular', sans-serif;
}
.btn-danger{
    background-color: #FF5B2B;
    border-color: #FC3900;
}
.btn-danger:hover{
    background-color: #FC3900;
    border-color: #FC3900;
}
.btn-success {
    background-color: #1FB665;
    border-color: #00B253;
}
.btn-success:hover {
    background-color: #00B253;
    border-color: #009847;
}
.btn-primary {
    /*background-color: #323EB2;*/
    background-color: #2377A4;
    border-color: #056AA0;
}
.grey {
    color: #ccc;
}
.grid-view .summary {
    color: lightgrey;
}



.article-view img{
    max-width: 100%;
}
.article-view .gridThumb {
    max-width:50px;
}
h1 {
    font-size: 28px;
    color: #5f6973;
}
.article-view .viewImageSvg svg {
    width: 40px;
    height: 40px;
}

input [type="file"] {
    /*text-decoration: underline;*/
    color: red;
}
/*input [aria-invalid="false"] {*/
/*!*text-decoration: underline;*!*/
/*color: red;*/
/*}*/
/*.article-view #uploadform-imagefile {*/
/*!*text-decoration: underline;*!*/
/*color: red;*/
/*}*/

.fileField {
    color:gainsboro;
}
.has-success .fileField {
    color:red;
    /*border:1px red solid;*/
    background-color: lightyellow;
}
.admin_section_head{
    border-top: 1px solid lightgray;
    border-left:1px solid lightgray;
    padding-top: 10px;
    border-top-left-radius: 20px;
}
.admin_section_ul {
    border-left:1px solid lightgray;
    margin-left: -15px;
    margin-bottom: 20px;

}
img {
    max-width: 100%;
}
.grid-scrollable{
    overflow: auto;
}
.text-success {
    color: #1DB399;
}
.text-warning {
    color: #A63338;
}
.text-secondary{
    color: rgba(0,0,0,.5);
}